@import './custom_colors';

.notes {
    background-color: $custom-grey;
    height: calc(100% - 70px);
    margin-left: 0px;
    margin-right: 0px;
}

.bm-menu {
    background: white;
    padding-top: 10px;
}